{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    报警管理
{% endblock %}
{% block extCSS %}
    <link rel="stylesheet" href="{% static 'css/device/status_card.css' %}">
{% endblock %}
{% block show %}
    报警管理
{% endblock %}

{% block content %}
    <div>
        {% for device in devices %}
            <div class="cardBox">
                <div class="headerBox" style="background-color: #6c7fde;">
                    <p>
                        <a title="查看详情" style="cursor: pointer; color:white"
                           onclick="viewXmInfo('${var.OMP_XM_ID}');">{{ device.d_num }}</a>
                    </p>
                </div>
                <div class="bodyBox">
                    <p>设备品牌：{{ device.d_brank }}</p>
                    <p>设备型号：{{ device.d_model }}</p>
                    <p>设备名称：{{ device.d_name }}</p>
                    <p>报警状态：
                        {% if device.paramerror.first.e_error == True %}
                            <a href="javascript:void(0)" onclick="rule_change(this, {{ device.id }})" class="label label-success"
                               style="border-radius: .25em;">开启</a>
                        {% elif device.paramerror.first.e_error == False %}
                            <a href="javascript:void(0)" onclick="rule_change(this, {{ device.id }})" class="label label-warning"
                               style="border-radius: .25em;" >关闭</a>
                        {% else %}
                            <a href='{% url 'alarm:alarm_rule' %}' title="点击添加" class="label label-default"
                               style="border-radius: .25em;">空白</a>
                        {% endif %}

                    </p>
                    {#<p>异常状态：<span style="color:green">无异常</span></p>#}
                    {#                    <p>加工量：1,817,375</p>#}
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'layer/layer.js' %}"></script>
    <script type="text/javascript">
        function rule_change(the, device_id) {
            console.log(device_id)
            $.ajax({
                url: "{% url "account:rule_change" %}",
                type: "POST",
                data: {"device_id": device_id},
                success: function (e) {
                    if (e == "1") {
                        parent.location.reload();
                        layer.msg("修改成功");
                    } else {
                        layer.msg("操作失败");
                    }
                },
            });
        }
    </script>
{% endblock %}












