<div class="layui-form-item" style="margin-top:5px">
        <label class="layui-form-label" style="float: left; margin-left:20px; margin-right: 20px">状态</label>
        <div class="layui-input-block">
            <select name="change_status2" id="change_status2" class="layui-select" onmousedown="if(this.options.length>5){this.size=4}" onblur="this.size=0" onchange="this.size=0" style="z-index: 1;width: 150px;position: absolute">
                <option value="2" >待机</option>
                <option value="1" >运行</option>
                <option value="3" >离线</option>
            </select>
        </div>
    </div>