 {% extends 'base.html' %}
 {% block title %}
device list
 {% endblock %}
 {% block content %}
  <div class="row">
  <table class="table table-hover">
      <tr>
          <td>序号</td>
          <td>设备编号</td>
          <td>设备品牌</td>
          <td>设备名称</td>
          <td>设备状态</td>
          <td>添加时间</td>
          <td>操作</td>
      </tr>
      {% for device in devices %}
      <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ device.d_num }}</td>
          <td>{{ device.d_brank }}</td>
          <td>{{ device.d_name }}</td>
          <td>{{ device.get_d_status_display }}</td>
          <td>{{ device.d_created }}</td>
          <td><a href="javascript:" name="delete" onclick="del_device(this, {{ device.id }})">
            <span class="glyphicon glyphicon-trash" style="margin-left: 20px"></span></a></td>
      </tr>
      {% endfor %}
      

  </table>
  </div>
 {% endblock %}












