{% extends 'layout.html' %}
{% load staticfiles %}
{% block show %}
    用户列表
{% endblock %}
{% block content %}
    <button type="button" id="add-user-btn"  value="" onclick="add_User()">新建用户</button>
    <br>
 <div class="row" style="width: 100%">
  <table class="table table-hover">
      <tr>
          <td></td>
          <td>序号</td>
          <td>姓名</td>
          <td>手机</td>
          <td>邮箱</td>
          <td>角色</td>
          <td>登录ID</td>
          <td>操作</td>

      </tr>
      {% for user in user_list %}
      <tr>
          <td></td>
          <td>{{ forloop.counter }}</td>
          <td>{{ user.uname }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.email }}</td>
        {# <td>{{ user.roles.first }}</td>#}
          <td>
              {% if user.roles.first %}
              {{user.roles.first}}
              {% else %}
              {% endif %}
          </td>
          <td>{{ user.user }}</td>
          <td>
            <a href="javascript:" name="edit" onclick="edit_user(this, {{ user.id }})"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="javascript:" name="delete" onclick="del_user(this, {{ user.id }})"><span class="glyphicon glyphicon-trash" style="margin-left: 20px"></span></a>
          </td>

      </tr>
      {% endfor %}
  </table>
  </div>





{% endblock %}

{% block js %}
    <script src="{% static 'js/system_user.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'layer/layer.js' %}"></script>
    <script type="text/javascript">
        function add_User() {
            layer.open({
                type: 1,
                title: "新增用户",
                zIndex: 100,
                skin: 'layui-layer-rim', //加上边框
                area: ['600px', '300px'], //宽高
                content: `{% include 'system/user_register.html' %}
             `,
                btn: ["确定", "取消"],
                yes: function () {
                    var user_role = $("#user_role").find("option:selected").text();
                    var user_num = $("#user_num").val();
                    var user_name = $("#user_name").val();
                    var user_password = $("#user_password").val();
                    var user_tel = $("#user_tel").val();
                    var user_email = $("#user_email").val();
                    var data = {
                        "user_num": user_num,
                        "user_name": user_name,
                        "user_password": user_password,
                        "user_tel": user_tel,
                        "user_email": user_email,
                        "user_role": user_role,
                    }
                    $.ajax({
                        url: "{% url "account:add_user" %}",
                        type: "POST",
                        data: {"data": data},
                        success: function (e) {
                            if (e == "1") {
                                parent.location.reload();
                                layer.msg("添加成功");
                            }else {
                                layer.msg("添加失败")
                            }
                        },

                    });
                },
                btn2: function () {
                    layer.close();
                }

            });
        }
    </script>

    <script>
        function del_user(the, user_id) {
        var name = $(the).parent("td").parent("tr").children("td").eq(2).text();
        layer.open({
            title: "删除用户",
            content: '<div class="text-center" style="margin-top: 20px"><p>是否确定删除'+name+'用户</p></div>',
            btn :["确定", "取消"],
            yes:function () {
                $.ajax({
                    url: "{% url "account:del_user" %}",
                    type: "POST",
                    data: {"user_id": user_id},
                    success: function (e){
                        if(e=="1"){
                            parent.location.reload();
                            layer.msg("删除成功");
                        }else{
                            layer.msg("删除失败")
                        }
                    },
                });
            },
            btn2:function () {
                layer.close();
            }
        });

    }
    </script>

{% endblock %}
