
<div class="panel window">

    <div>
        <form action="">
            <table style="border-collapse:separate; border-spacing:0px 10px;">
                <tbody>
                <tr style="">
                    <th style="width:85px;overflow:hidden;noWrap:true">
                        <lable style="float:right;width:90px;text-align:right">订单号</lable>
                    </th>
                    <td><span style="width: 149px; height: 20px;">
                        <input type="text" id="product_id" placeholder="GD20200101xxxx">
                        <span></span>
                    </span>

                    </td>
                   <th style="width:85px;overflow:hidden;noWrap:true">
                        <lable style="float:right;width:90px;text-align:right">客户</lable>
                    </th>
                    <td><span style="width: 149px; height: 20px;">
                        <input type="text" id="customer">
                        <span></span>
                        </span>
                    </td>
                </tr>
                <tr style="margin-bottom: 10px">
                    <th style="width:85px;overflow:hidden;noWrap:true">
                        <lable style="float:right;width:90px;text-align:right">产品名称</lable>
                    </th>
                    <td>
                        <input type="text" id="product_name" placeholder="">
                        <span></span>
                    </td>
                   <th style="width:85px;overflow:hidden;noWrap:true">
                        <lable style="float:right;width:90px;text-align:right">产品数量</lable>
                    </th>
                    <td>
                        <input type="text" id="product_count">
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <th style="width:85px;overflow:hidden;noWrap:true">
                        <lable style="float:right;width:90px;text-align:right">开始日期</lable>
                    </th>
                    <td>
                        <input type="text" id="product_start">
                        <span></span>
                    </td>
                   <th style="width:85px;overflow:hidden;noWrap:true">
                        <lable style="float:right;width:90px;text-align:right" >结束日期</lable>
                    </th>
                    <td>
                        <input type="text" id="product_end">
                        <span></span>
                    </td>
                </tr>
                <tr>

                   <th style="width:85px;overflow:hidden;noWrap:true">
                        <lable style="float:right;width:90px;text-align:right" >备注</lable>
                    </th>
                    <td>
                        <input type="text" id="product_des">
                        <span></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>



