{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    设备看板
{% endblock %}
{% block extCSS %}

    <link rel="stylesheet" href="{% static 'css/kanban/order_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/kanban/device_order.css' %}">
{% endblock %}
{% block show %}
    设备看板
{% endblock %}

{% block content %}
    <div>
        {% for device in devices %}
            <div class="cardBox" style="width: 270px">
                <div class="headerBox" style="">
                    <span style="float:left;color: black">设备：{{ device.d_num }}</span>
                    {% if  device.get_d_status_display == '未分配' %}
                        <span name="order_status" style="float: right" class="label label-primary">
                          {{ device.get_d_status_display }}
                     </span>
                    {% elif device.get_d_status_display == '待机' %}
                        <span name="order_status" style="float: right" class="label label-warning">
                          {{ device.get_d_status_display }}
                     </span>
                    {% elif device.get_d_status_display == '离线' %}
                        <span name="order_status" style="float: right" class="label label-default">
                          {{ device.get_d_status_display }}
                     </span>
                    {% elif device.get_d_status_display == '运行' %}
                        <span name="order_status" style="float: right" class="label label-success">
                          {{ device.get_d_status_display }}
                     </span>
                    {% elif device.get_d_status_display == '已完成' %}
                        <span name="order_status" style="float: right" class="label label-danger">
                          {{ device.get_d_status_display }}
                     </span>
                    {% endif %}

                </div>
                <div class="bodyBox">
                    {% if device.od_device.last.od_active == True %}
                        <div style="width: 70%;float: left">
                            <span style="float: left">产品：{{ device.od_device.last.o_k.o_name }}</span><br>
                            <span style="float: left">工单：{{ device.od_device.last.o_k.o_id }}</span><br>
                            <span style="float: left">创建：{{ device.od_device.last.o_k.o_create|date:"Y-m-d" }}</span><br>
                            <span style="float: left">客户：{{ device.od_device.last.o_k.o_customer }}</span><br>
                        </div>
                        <div style="float:right">
                             <canvas class="process" width="60px" height="60px"> {% widthratio device.od_device.last.o_k.o_finish device.od_device.last.o_k.o_count 100 %}%</canvas>
                        </div>
                    {% else %}
                        <div style="width: 70%;float: left">
                            <span style="float: left">产品：</span><br>
                            <span style="float: left">工单:</span><br>
                            <span style="float: left">创建：</span><br>
                            <span style="float: left">客户：</span><br>
                        </div>
                        <div style="float:right">
                            <canvas class="process" width="60px" height="60px">0%</canvas>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% endfor %}

    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            // 选出页面上所有class为process的canvas元素,然后迭代每一个元素画图(这里用Jquery的选择器选的)
            $('canvas.process').each(function () {
                // 第一部先拿到canvas标签中间的文字,就是那个61%(这里的stringTrim方法是我自己的方法,去前后空格的方法很多的,这里就不贴出来了)
                var text = $(this).text();
                var process = text.substring(0, text.length - 1);
                console.log(text,process)
                // 一个canvas标签
                var canvas = this;
                // 拿到绘图上下文,目前只支持"2d"
                var context = canvas.getContext('2d');
                // 将绘图区域清空,如果是第一次在这个画布上画图,画布上没有东西,这步就不需要了
                context.clearRect(0, 0, 60, 60);

                // ***开始画一个灰色的圆
                context.beginPath();
                // 坐标移动到圆心
                context.moveTo(30, 30);
                // 画圆,圆心是24,24,半径24,从角度0开始,画到2PI结束,最后一个参数是方向顺时针还是逆时针
                context.arc(30, 30, 30, 0, Math.PI * 2, false);
                context.closePath();
                // 填充颜色
                context.fillStyle = '#ddd';
                context.fill();
                // ***灰色的圆画完

                // 画进度
                context.beginPath();
                // 画扇形的时候这步很重要,画笔不在圆心画出来的不是扇形
                context.moveTo(30, 30);
                // 跟上面的圆唯一的区别在这里,不画满圆,画个扇形
                context.arc(30, 30, 30, -Math.PI / 2, Math.PI * 2 * process / 100 -Math.PI / 2, false);
                context.closePath();
                context.fillStyle = '#99e72f';
                context.fill();

                // 画内部空白
                context.beginPath();
                context.moveTo(30, 30);
                context.arc(30, 30, 26, 0, Math.PI * 2, true);
                context.closePath();
                context.fillStyle = 'rgba(255,255,255,1)';
                context.fill();

                // 画一条线
                context.beginPath();
                context.arc(30, 30, 22, 0, Math.PI * 2, true);
                context.closePath();
                // 与画实心圆的区别,fill是填充,stroke是画线
                context.strokeStyle = '#ddd';
                context.stroke();

                //在中间写字
                context.font = "bold 9pt Arial";
                context.fillStyle = '#99e72f';
                context.textAlign = 'center';
                context.textBaseline = 'middle';
                context.moveTo(30, 30);
                context.fillText(text, 30, 30);
            })
        })
    </script>
<script language="JavaScript">
    function myrefresh() {
       window.location.reload();
    }
    setTimeout('myrefresh()',1000*60*10); //指定1秒刷新一次
    </script>
{% endblock %}












