<form class="layui-form" action="">


    <div class="layui-form-item" style="margin-top:5px">
        <label class="layui-form-label" style="float: left; margin-left:20px; margin-right: 20px">维护人员</label>
        <div class="layui-input-block">
            <input type="text" id="mr_user" name="mr_user" placeholder="请输入维修/保养人" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top:5px">
        <label class="layui-form-label" style="float: left; margin-left:20px; margin-right: 20px">故障现象</label>
        <div class="layui-input-block">
            <input type="text" id="mr_appear" name="mr_appear" placeholder="请输入模具出现的问题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top:5px">
        <label class="layui-form-label" style="float: left; margin-left:20px; margin-right: 20px">解决方法</label>
        <div class="layui-input-block">
            <input type="text" id="mr_method" name="mr_method" placeholder="请输入修复方法" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top:5px">
        <label class="layui-form-label" style="float: left; margin-left:20px; margin-right: 20px">备注声明</label>
        <div class="layui-input-block">
            <textarea id="mr_des" name="mr_des" placeholder=""
                      class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="reset" class="layui-btn layui-btn-primary" style="margin-left:20px">重置</button>
        </div>
    </div>

</form>