{% extends 'layout.html' %}
{% load staticfiles %}
 {% block title %}
device list
 {% endblock %}
{% block show %}
    维保记录
{% endblock %}

 {% block content %}
     <div class="row" style="width: 100%">
  <table class="table table-hover">
      <tr>
          <td></td>
          <td>序号</td>
          <td>模具编号</td>
          <td>模具名称</td>
          <td>维保人员</td>
          <td>故障现象</td>
          <td>处理方法</td>
          <td>开始时间</td>
          <td>结束时间</td>
          <td>备注</td>
      </tr>
      {% for mold in mold_records %}
      <tr>
          <td></td>
          <td>{{ forloop.counter }}</td>
          <td>{{ mold.mr_num}}</td>
          <td>{{ mold.mr_name }}</td>
          <td>{{ mold.mr_user }}</td>
          <td>{{ mold.mr_appear }}</td>
          <td>{{ mold.mr_method }}</td>
          <td>{{ mold.mr_start }}</td>
          <td>{% if mold.mr_end is None %}未结束{% else %}{{ mold.mr_end }}{% endif %}</td>
          <td>{{ mold.mr_des }}</td>
      </tr>
      {% endfor %}
  </table>

  </div>
     <br>


     <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
     <script type="text/javascript" src="{% static 'layer/layer.js' %}"></script>
     <script type="text/javascript">
     $(document).ready(function () {
             $('tr').children("td").eq(4).each(function(){
                 console.log($(this).html())

             });
         })
     </script>
 {% endblock %}
{% block js %}

{% endblock %}











